<mat-toolbar class="page-header" color="accent">
    <button mat-icon-button aria-label="HOR logo">
      <mat-icon>
        <img src="../../assets/HOR logo.png" class="logo-placement" alt="Bootstrap" width="45" height="45">
      </mat-icon>
    </button>
    <span class="mg-company">eCongress</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="mail-icon" aria-label="Mail Icon">
        <mat-icon>mail</mat-icon>
      </button>
    <button mat-icon-button class="notification-active-icon" aria-label="Notification Active Icon">
      <mat-icon>notifications_active</mat-icon>
    </button>
    <button mat-icon-button class="menu-icon" aria-label="Menu Icon">
      <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>