<mat-list>
    <mat-list-item><button mat-button class="btn-expand color-primary" routerLink="/dashboard"
            routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon class="mr-icon">dashboard</mat-icon>
            Dashboard</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button class="btn-expand color-primary" [matMenuTriggerFor]="documentMenu">
            <mat-icon class="mr-icon">article</mat-icon> Documents
        </button>
        <mat-menu #documentMenu="matMenu">
            <button mat-menu-item class="btn-menu-expand" routerLink="/receiving"
            routerLinkActive="active" ariaCurrentWhenActive="page">
                <mat-icon>move_to_inbox</mat-icon>
                Receiving
            </button>
            <button mat-menu-item class="btn-menu-expand">
                <mat-icon class="mr-icon">category</mat-icon>
                <span>Letter Type</span>
            </button>
        </mat-menu>
    </mat-list-item>
    <mat-list-item><button mat-button class="btn-expand color-primary"><mat-icon class="mr-icon">school</mat-icon>
            Scholarship</button>
    </mat-list-item>
    <mat-list-item><button mat-button class="btn-expand color-primary"><mat-icon
                class="mr-icon">personal_injury</mat-icon> Burial </button>
    </mat-list-item>
    <mat-list-item><button mat-button class="btn-expand color-primary"><mat-icon
                class="mr-icon">medication</mat-icon> Medical </button>
    </mat-list-item>
    <mat-list-item><button mat-button class="btn-expand color-primary"><mat-icon
                class="mr-icon">manage_accounts</mat-icon> Accounts </button>
    </mat-list-item>
    <mat-list-item><button mat-button class="btn-expand color-primary"><mat-icon class="mr-icon">tune</mat-icon>
            Utility </button>
    </mat-list-item>
</mat-list>