<app-header class="page-header"></app-header>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-grid-list cols="1">
            <mat-grid-tile>
                <img src="../../assets/Congressman.jpg" class="" alt="Banner" width="100%" height="100%">
            </mat-grid-tile>
            <mat-grid-tile class="nav-menu-spacing">
                <app-nav></app-nav>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>